<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="message-bar">
    <h1 class="pink">FRONT-END SKILL TREE</h1>
    <div class="h3 b-purple">CURRENT RANK</div>
    <div class="h2 white">FRONT-END NOOB</div>
    <div class="spacecraft">
      <img src="../assets/icons/img-ship-noob.png" alt="">
    </div>
    <div class="message">

      <p class="white">Welcome to aboard. Your mission is: Collect the resources and learn the skills to upgrade the ship. Good luck, captain! </p>
    </div>
  </div>
  <div class="skill-tree">
    <div class="skill-subtree">
      <div class="logo">
        <img src="../assets/icons/img-planet-basics.png" alt="">
      </div>
      <div class="skill-subtree-nodes">
        <div class="skill-subtree-node active">
          <div class="thumbnail">
            <i class="material-icons">
              category
            </i>

          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/3</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              build
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="skill-subtree">
      <div class="logo">
        <img src="../assets/icons/img-planet-css.png" alt="">
      </div>
      <div class="skill-subtree-nodes">
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              flip_to_front
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              view_quilt
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              developer_board
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              devices
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              widgets
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="skill-subtree">
      <div class="logo">
        <img src="../assets/icons/img-planet-js.png" alt="">
      </div>
      <div class="skill-subtree-nodes">

        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              hdr_strong
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              gradient
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              format_quote
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              developer_mode
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              nfc
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="skill-subtree">
      <div class="logo">
        <img src="../assets/icons/img-planet-managers.png" alt="">
      </div>
      <div class="skill-subtree-nodes">

        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              device_hub
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              import_contacts
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>
        <div class="skill-subtree-node">
          <div class="thumbnail">
            <i class="material-icons">
              table_chart
            </i>
          </div>
          <div class="skills">
            <div class="recommended">
              <i class="material-icons">
                settings
              </i>
              <span>0/4</span>
            </div>
            <div class="optional">
              <i class="material-icons">
                filter_tilt_shift
              </i>
              <span>0/0</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="skill-detail">
    <div class="up">
      <div class="thumbnail">
        <i class="material-icons">
          category
        </i>

      </div>
      <div class="title">
        BASIC SKILLS
      </div>

    </div>
    <div class="down">
      <div class="recommended">
        <i class="material-icons">
          settings
        </i>
        <div>RECOMMANDED</div>
        <ul>
          <li>
            Learn HTML

          </li>
          <li>
            Basic of CSS

          </li>
          <li>
            Basics of Javascript

          </li>
        </ul>
      </div>
      <div class="optional inactive">

        <i class="material-icons">
          filter_tilt_shift
        </i>
      </div>
    </div>

  </div>
</div>
