<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <div class="message-bar">
    <h1 class="pink">FRONT-END SKILL TREE</h1>
    <div class="h3 b-purple">CURRENT RANK</div>
    <app-current-rank [rank]="skillTree.currentRank"></app-current-rank>
  </div>
  <div class="skill-tree">
    <div class="skill-subtree" [ngClass]="{
                        'completed': this.skillTree.currentRank >0
                      }">
      <div class="logo">
        <img src="../assets/icons/img-planet-basics.png" alt="">
      </div>
      <div class="skill-subtree-nodes">
        <ng-container *ngFor="let skill of this.skillTree.basics">
          <div class="skill-subtree-node" [ngClass]="{'active': skill===this.currentSkill && this.skillTree.currentRank ===0}" (click)="this.skillTree.currentRank===0?ChangeCurrentSkill(skill):null">
            <div class="thumbnail ">
              <i class="material-icons ">
                {{skill.icon}}
              </i>

            </div>
            <div class="skills ">
              <div class="recommended ">
                <i class="material-icons ">
                  settings
                </i>
                <span>{{skill.learnedRecommendedSkills}}/{{skill.recommend.length}}</span>
              </div>
              <div class="optional ">
                <i class="material-icons ">
                  filter_tilt_shift
                </i>
                <span>{{skill.learnedOptionalSkills}}/{{skill.optional.length}}</span>
              </div>
            </div>
          </div>

        </ng-container>
      </div>
    </div>
    <div class="skill-subtree" [ngClass]="{'completed': this.skillTree.currentRank >1, 'inactive':this.skillTree.currentRank < 1 }">
      <div class="logo ">
        <img src="../assets/icons/img-planet-css.png " alt=" ">
      </div>
      <div class="skill-subtree-nodes ">

        <ng-container *ngFor="let skill of this.skillTree.css">
          <div class="skill-subtree-node" [ngClass]="{'active': skill===this.currentSkill && this.skillTree.currentRank ===1}" (click)="this.skillTree.currentRank === 1? ChangeCurrentSkill(skill):null">
            <div class="thumbnail ">
              <i class="material-icons ">
                {{skill.icon}}
              </i>

            </div>
            <div class="skills ">
              <div class="recommended ">
                <i class="material-icons ">
                  settings
                </i>
                <span>{{skill.learnedRecommendedSkills}}/{{skill.recommend.length}}</span>
              </div>
              <div class="optional ">
                <i class="material-icons ">
                  filter_tilt_shift
                </i>
                <span>{{skill.learnedOptionalSkills}}/{{skill.optional.length}}</span>
              </div>
            </div>
          </div>

        </ng-container>
      </div>
    </div>
    <div class="skill-subtree" [ngClass]="{'completed': this.skillTree.currentRank >2, 'inactive':this.skillTree.currentRank < 2 }">
      <div class="logo ">
        <img src="../assets/icons/img-planet-js.png " alt=" ">
      </div>
      <div class="skill-subtree-nodes ">

        <ng-container *ngFor="let skill of this.skillTree.javascript">
          <div class="skill-subtree-node" [ngClass]="{'active': skill===this.currentSkill && this.skillTree.currentRank ===2}" (click)="this.skillTree.currentRank === 2? ChangeCurrentSkill(skill):null">
            <div class="thumbnail ">
              <i class="material-icons ">
                {{skill.icon}}
              </i>

            </div>
            <div class="skills ">
              <div class="recommended ">
                <i class="material-icons ">
                  settings
                </i>
                <span>{{skill.learnedRecommendedSkills}}/{{skill.recommend.length}}</span>
              </div>
              <div class="optional ">
                <i class="material-icons ">
                  filter_tilt_shift
                </i>
                <span>{{skill.learnedOptionalSkills}}/{{skill.optional.length}}</span>
              </div>
            </div>
          </div>

        </ng-container>
      </div>

    </div>
    <div class="skill-subtree" [ngClass]="{'completed': this.skillTree.currentRank >3, 'inactive':this.skillTree.currentRank < 3 }">

      <div class="logo ">
        <img src="../assets/icons/img-planet-managers.png " alt=" ">
      </div>
      <div class="skill-subtree-nodes ">

        <ng-container *ngFor="let skill of this.skillTree.managers">
          <div class="skill-subtree-node" [ngClass]="{'active': skill===this.currentSkill && this.skillTree.currentRank ===3}" (click)="this.skillTree.currentRank === 3? ChangeCurrentSkill(skill):null">
            <div class="thumbnail ">
              <i class="material-icons ">
                {{skill.icon}}
              </i>

            </div>
            <div class="skills ">
              <div class="recommended ">
                <i class="material-icons ">
                  settings
                </i>
                <span>{{skill.learnedRecommendedSkills}}/{{skill.recommend.length}}</span>
              </div>
              <div class="optional ">
                <i class="material-icons ">
                  filter_tilt_shift
                </i>
                <span>{{skill.learnedOptionalSkills}}/{{skill.optional.length}}</span>
              </div>
            </div>
          </div>

        </ng-container>
      </div>
    </div>
  </div>
  <div class="skill-detail" [ngClass]="{'inactive': !this.currentSkill}">
    <app-skill-detail [currentSkill]="this.currentSkill" (checkCompleted)="CheckCompleted($event)"></app-skill-detail>
  </div>
</div>
